<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <div class="mr-auto">
  <ul class="navbar-nav " >
    <li class="nav-item" >
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">about</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Tollywood
      </a>
      <div class="dropdown-menu">
        {% if user.is_authenticated %}
        <a class="dropdown-item" href="{% url 'addmovie' %}">Add Movie</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'Tollywoodmovies'%}">Our Movies</a>
      </div>
    </li>
  </ul>
</div>
<div class="ml-auto">
  <ul class="navbar-nav ">
    <li class="nav-item">
      {% if not user.is_authenticated %}
      <a class="nav-link" href="{% url 'signup' %}">signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'signin' %}">signin</a>
    </li>
    {% endif %}
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        {{user.username}}
      </a>
      <div class="dropdown-menu">
        {% if user.is_authenticated %}
        <a class="dropdown-item" href="{% url 'profile' %}">profile</a>
        <a class="dropdown-item" href="#">change password</a>
        <a class="dropdown-item" href="{% url 'signout'%}">signout</a>
        {% endif %}
        
      </div>
    </li>
      
    </li> -->
    {% endif %}
    <!-- Dropdown -->
    
  </ul>
  </div>
</nav>