
{% extends 'Tollywood/index.html' %}
{% load static %}
{% block body %}
<div class="container pt-3">
		<div class=" col-md-12">
			<div class="row d-flex justify-content-between">
	{% for movie in data %}	
				
			<div class="col-sm-3 mt-3" style="width: 100%;">
				<img src="{% static 'movie.poster' %}" height="360" width="300">
				<h3 class="text-primary">MOVIE:{{movie.moviename}}</h3>
				<h3 class="text-primary">HERO NAME:{{movie.heroname}}</h3>
				<h3 class="text-primary">HEROINE NAME:{{movie.heroinename}}</h3>
				<h3 class="text-primary">DIRECTOR:{{movie.director}}</h3>
				<h3 class="text-primary">PRODUCER:{{movie.producer}}</h3>
				<h3 class="text-primary">CAST:{{movie.cast}}</h3>
		</div>
	
	{% endfor %}
	</div>
	</div>
	</div>
{% endblock %}