{% extends 'courses/home.html'%}

{% block title%} Addcourse{% endblock title%}

{% block content%}
<div class="container col-sm-4  offset-sm-3 card card-body" style="margin-top: 3%;">
	<div class="border rounded" style="background: #4d4;">
		<h1 class="text-center" style="color: blue">AddCourse</h1>
		<form action="{% url 'addcourse' %}"  method="POST" class="m-5">
				
				{% csrf_token %}

				<strong>{{form.as_p}}</strong>
				<div class="text-center">
					<input type="submit" value="Add" class="btn btn-outline-primary btn-lg">
					
				</div>
				
			</form>
			
		</div>
		
	</div>
{% endblock content%}