<!DOCTYPE html>
<html>
<head>
	<title>::AddCourse::</title>
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

	{% include 'courses/header.html'%}

	{% if messages %}

	{% for msg in messages %}

	<div class="alert alert-{{msg.tags}}">{{msg}}</div>

	{% endfor%}
	{% endif %}

	{% block content %}

	{% endblock %}

</body>
</html>







