{% extends 'myapp/index.html' %}

{% block body %}
<h1>Weolcome To {{name}}</h1>
<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header">
					login
				</div>
				<form action="{% url 'changepassword' name %}" method="POST">
					{% csrf_token %}
				<div class="card-body">
					Old Password:<input type="password" name="password1">
					New Password:<input type="password" name="password2">
					Confirm Password:<input type="password" name="password3">
				</div>
				<div class="card-footer">
					<input type="submit" class =" btn btn-primary" value="Change">
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}