{% extends 'myapp/index.html' %}
{% block body%}
<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header">
					Forgotpassword?
				</div>
				<form action="{% url 'forgotpassword' %}" method="POST">
					{% csrf_token %}
				<div class="card-body">
					<input type="text" name="email" placeholder="Enter Your Mailid">
				</div>
				<div class="card-footer">
					<input type="submit" class =" btn btn-primary" value="submit">
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}